<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ brand }}® Design Tokens</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ brand }}<sup>®</sup> Design Tokens">
    <link rel="icon" type="image/svg+xml" href="logo/favicon.svg">
    <link rel="mask-icon" href="logo/favicon.svg" color="#000">
    {{> styles.css}}
    {{> tabs.css}}
    <link rel="stylesheet" href="font-face.css">
    <link rel="stylesheet" href="variables.css">
    <link rel="stylesheet" href="utilities.css">
</head>

<body>

    <header>
        <h1>{{ brand }}<sup>®</sup> Design Tokens</h1>
        <h2>Theme: {{theme}}</h2>
        <p>version <code>{{ version }}</code></p>
    </header>

    <main>

        {{~> assets}}

        <div class="tabs">

            <div role="tablist" aria-label="Design Tokens Documentation">

                <button id="vars" aria-controls="vars-tab" role="tab"   aria-selected="true">Variables</button>

                {{#if classes }}
                    <button id="classes" aria-controls="classes-tab" role="tab"     aria-selected="false" tabindex="-1">Classes</button>
                {{/if}}

                {{#if icons }}
                    <button id="icons" aria-controls="icons-tab" role="tab"     aria-selected="false" tabindex="-1">Icons</button>
                {{/if}}

                {{#if logos }}
                    <button id="logos" aria-controls="logos-tab" role="tab" aria-selected="false" tabindex="-1">Logos</button>
                {{/if}}

            </div>

            <div id="vars-tab" aria-labelledby="vars" tabindex="0" role="tabpanel">

                {{~> heading level=2 title='Variables'}}

                {{~> section
                    ctx=vars.color
                    title='Color'
                    example='bg-color'
                }}

                {{~> section
                    ctx=vars.border-radius
                    title='Border Radius'
                    example='border-radius'
                    original-value='true'
                }}

                {{~> section
                    ctx=vars.border-width
                    title='Border Width'
                    example='border-width'
                    original-value='true'
                }}

                {{~> section
                    ctx=vars.box-shadow
                    title='Box Shadow'
                    example='box-shadow'
                }}

                {{~> section
                    ctx=vars.breakpoint
                    title='Breakpoint'
                    example='breakpoint'
                    original-value='true'
                }}

                {{~> section
                    ctx=vars.font-family
                    title='Font Family'
                    example='font-family'
                }}

                {{~> section
                    ctx=vars.font-size
                    title='Font Size'
                    example='font-size'
                    original-value='true'
                }}

                {{~> section
                    ctx=vars.letter-spacing
                    title='Letter Spacing'
                    example='letter-spacing'
                    original-value='true'
                }}

                {{~> section
                    ctx=vars.line-height
                    title='Line Height'
                    example='line-height'
                }}

                {{~> section
                    ctx=vars.spacing
                    title='Spacing'
                    example='spacing'
                    original-value='true'
                }}

                {{~> section
                    ctx=vars.viewport
                    title='Viewport'
                    example='viewport'
                }}

            </div>

            {{#if classes }}
                <div id="classes-tab" aria-labelledby="classes" tabindex="0" role="tabpanel">

                    {{~> heading level=2 title='Classes'}}

                    {{~> section
                        util='true'
                        ctx=classes.background-color
                        title='Background Color'
                        example='bg-color'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.border-color
                        title='Border Color'
                        example='border-color'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.border-radius
                        title='Border Radius'
                        example='border-radius'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.border-width
                        title='Border Width'
                        example='border-width'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.box-shadow
                        title='Box Shadow'
                        example='box-shadow'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.font-family
                        title='Font Family'
                        example='font-family'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.font-size
                        title='Font Size'
                        example='font-size'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.letter-spacing
                        title='Letter Spacing'
                        example='letter-spacing'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.line-height
                        title='Line Height'
                        example='line-height'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.text-color
                        title='Text Color'
                        example='text-color'
                    }}

                    {{~> section
                        util='true'
                        ctx=classes.typography
                        title='Typography'
                        example='typography'
                    }}

                </div>
            {{/if}}

            {{#if icons }}
                <div id="icons-tab" aria-labelledby="icons" tabindex="0" role="tabpanel">

                    {{~> heading level=2 title='Icons'}}

                    {{~> section-icon
                        ctx=icons
                    }}

                </div>
            {{/if}}

            {{#if logos }}
                <div id="logos-tab" aria-labelledby="logos" tabindex="0" role="tabpanel">

                    {{~> heading level=2 title='Logos'}}

                    {{~> section-logo
                        ctx=logos
                    }}

                </div>
            {{/if}}

        </div>

    </main>

    <footer>
        <p class="text-primary-body-m center">© {{ year }} {{ brand }}</p>
    </footer>

    {{> tabs.js }}

</body>

</html>